/* ipad */
.option-popup-container{
    display: none;
}
@media (width <= 1244px){
    .sb4 ,.sb5{
        display: none;
    }
    .option-container {
        flex-direction: column;
        justify-content: center;
    }
    .option-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        height: fit-content;
    }
    .option-menu {
        margin-top: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .option-menu-box {
        margin: 0 0px 20px 0;
        width: 360px;
    }
    
    .option-right{
        margin-top: 50px;
    }
    .scoreboard {
        border-radius: 20px;
    }
    .option-popup {
        width: 850px;
        height: 801px;
    }
    body{
        overflow: hidden;
    }
    .option-profile {
        bottom: -584px;
        z-index: 1;
    }
}
@media (width <= 992px){
    .option-popup {
        width: 650px;
        height: 801px;
    }
    body{
        overflow: hidden;
    }
}

@media (width <= 784px){
    .option-popup {
        width: 550px;
        height: 801px;
    }
    body{
        overflow: hidden;
    }
}

/* mobile */
@media (width <= 580px){
    .option-popup {
        width: 450px;
        height: 801px;
    }
    .option-container h1 {
        font-size: 60px;
    }
    .option-menu {
        font-size: 16px;
    }
    .option-popup label {
        flex-direction: column;
    }
    body{
        overflow: hidden;
    }
}