/* ipad */
@media (width <= 1366px){

    .option-popup-container {
        display: none;
    }
    .option-container h1 {
        color: white;
        margin-bottom: 50px;
        font-size: 80px;
        width: 600px;
    }
    .option-right {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 50px;
        right: 0px;
        bottom: 350px;
    }
}

/* mobile */
@media (width <= 390px){
    .option-right {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        right: -200px;
        bottom: -380px;
    }
    .option-profile {
        display: flex;
        position: absolute;
        left: 14px;
        bottom: -329px;
        height: fit-content;
        width: fit-content;
        align-items: center;
        justify-content: center;
    }
    .option-left {
        width: 100%;
        height: 100%;
        left: 20px;
        top: 120px;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .option-popup-container {
        width: 720px;
        height: 1669px;
        top: -109px;
        left: 0px;
        display: none;
    }
    .option-container h1 {
        color: white;
        margin-bottom: -50px;
        font-size: 80px;
        width: 600px;
        text-align: center;
    }
    .option-menu {
        width: 500px;
        text-align: center;
    }
    .option-popup {
        width: 534px;
    }
    body{
        overflow: hidden;
    }
    .option-menu-box {
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        color: white;
        margin: 0 20px 20px 0;
        width: 589px;
    }
    .option-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scoreboard {
        border-radius: 20px 20px 20px 20px;
    }
}