/* game css */
.progress{
    display: flex;
    position: relative;
    float:left;
    align-self: end;
  }
  .barOverflow{
    position: relative;
    overflow: hidden;
    width: 120px; height: 60px;
    margin-bottom: 0px;
  }
  .bar{
    position: absolute;
    top: 0px; left: 0px;
    width: 120px; height: 120px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 20px solid #7000FF;
    border-bottom-color: #fff;
    border-right-color: #fff;
  }
  .topbar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 1fr 4fr;
    justify-items: center;
    gap: 32px;
  }
  .bottombar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 1fr 4fr;
    justify-items: center;
    gap: 32px;
  }
  .deck {
    justify-self: start;
  }
  .cardbox-your {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    margin-bottom: 12px;
    justify-self: end;
  }
  .card {
    width: 75px;
    cursor: pointer;
  }
  .carddeck {
    width: 120px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  .cardbox-enemy {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    margin-top: 12px;
    justify-self: start;
  }
  .nav {
    justify-self: end;
    margin-top: 12px;
  }
  .text-box {
    width: 120px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.icon-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.icon {
    width: 30px;
}
.icon:hover {
    cursor: pointer;
}
#room-id{
  margin: 10px;
  width: 200px;
}

.tip_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tip {
    display: none;
    position: relative;
}
.tip img{
    display: inline-block; /* Add this line */
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 100%;
}
#tip0 {
    width: 700px;
    display: none;
    top: -100px;
    z-index: 10;
    position: fixed;
}
#tipshield {
    width: 700px;
}
#left-arrow,
#right-arrow {
    position: absolute; 
    top: 0;
    cursor: pointer;
}
#left-arrow {
    width: 100px;
    left: 15%;
    top: 25%;
}
#right-arrow {
    width: 100px;
    right: 15%;
    top: 25%;
}
#closepopup {
    width: 20px;
    position: absolute;
    cursor: pointer;
    top: -150px; 
    right: 2%;
}

#Begin h1{
    font-size: 200px;
    color: white;
}
#Begin p{
    margin-top: 25px;
    color: rgb(156, 156, 156);
    animation: wip-wup 2s infinite;
    font-size: 40px;
}
.index-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
@keyframes wip-wup {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
#black{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
}
#text{
    color: white;
    z-index: 1;
}
#winner-container{
    width: 900px;
    padding: 40px;
    display: none;
    background-color: #262628;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#winnerimg2 {
    width: 100px;
    margin-top: 20px;
}
#winner-text{
    font-size: 48px;
    color: white;
    margin-top: 30px;
}
#won-text{
    font-size: 16px;
    color: white;
    margin-top: 25px;
}
.winner-button-container{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.winner-button{
    width: 100px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 30px;
    margin-top: 40px;
}
#winner-play{
    width: 200px;
    background-color: #7000FF;
}
#winner-back{
    width: 400px;
    background-color: #323232;
}
.winner-star-container{
    display: flex;
    gap: 10px;
    margin-top: 0px;
}
.winner-star{
    width: 60px;
    background: url(../public/img/star-white.png);
    background-size: cover;
}
.rate-text{
    color: white;
    font-size: 24px;
    /* width: 50px; */
    justify-self: center;
    align-self: center;
}
#rate{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
#thankyou{
    display: flex;
    justify-content: start;
    margin-left: 20px;
}
#star-1:hover{
    /* background: url(../public/img/star-yellow.png); */
    background-color: red;
}
#star-2:hover, #star1{
    /* background: url(../public/img/star-yellow.png); */
    background-color: red;
}
.rate {
float: left;
}
.rate:not(:checked) > input {
position:absolute;
top:-9999px;
}
.rate:not(:checked) > label {
float:right;
width:1em;
overflow:hidden;
white-space:nowrap;
cursor:pointer;
font-size:60px;
color:#ccc;
}
.rate:not(:checked) > label:before {
content: '★ ';
}
.rate > input:checked ~ label {
color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
color: #c59b08;
}

/* game css */