@media (width <= 1372px){
    #Begin h1 {
        font-size: 120px;
        color: white;
    }
}

/* ipad */
@media (width <= 992px){
    #Begin h1 {
        font-size: 120px;
        color: white;
    }
    #Begin p {
        margin-top: 31px;
        color: rgb(156, 156, 156);
        animation: wip-wup 2s infinite;
        font-size: 30px;
    }
}

@media (width <= 848px){
    #Begin h1 {
        font-size: 100px;
        color: white;
    }
}

@media (width <= 654px){
    #Begin h1 {
        font-size: 80px;
        color: white;
    }
}

/* mobile */
@media (width <= 576px){
    #Begin h1 {
        font-size: 40px;
        color: white;
    }
    #Begin p {
        margin-top: 31px;
        color: rgb(156, 156, 156);
        animation: wip-wup 2s infinite;
        font-size: 20px;
    }
}