/* ipad */
@media (width <= 1366px){

    .option-popup {
        /* display: none; */
        width: 800px;
        height: 600px;
    }
    .option-container h1 {
        color: white;
        margin-bottom: 50px;
        font-size: 80px;
        width: 600px;
    }
    .option-right {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 50px;
        right: 0px;
        bottom: 350px;
    }
}

/* mobile */
@media (width <= 390px){
    .option-right {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 50px;
        right: -315px;
        bottom: -380px;
    }
    .option-profile {
        display: flex;
        position: absolute;
        left: 34px;
        bottom: -637px;
        height: fit-content;
        width: fit-content;
        align-items: center;
        justify-content: center;
    }
    .option-left {
        width: 100%;
        height: 100%;
        left: 50px;
        top: 120px;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .option-popup-container {
        width: 720px;
        height: 1669px;
        top: -109px;
        left: 0px;
    }
    .option-container h1 {
        color: white;
        margin-bottom: -50px;
        font-size: 80px;
        width: 600px;
    }
    .option-menu {
        width: 500px;
    }
    .option-popup {
        width: 534px;
    }
    body{
        overflow: hidden;
    }
}