@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    font-family: 'Inter', sans-serif;
}
body,html{
    background-color: #1E1E1E;
    width: 100%;
    height: 100%;
}

.option-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.option-container h1{
    color:white;
    margin-bottom: 50px;
    font-size: 80px;
}
h2{
  position: relative;
  top: 0px;
  color:white;
  /* margin-bottom: 50px; */
  font-size: 40px;
}

h3{
  position: relative;
  top: 0px;
  color:white;
  /* margin-bottom: 50px; */
  font-size: 20px;
  margin-top: 20px;
}
.option-left{
    width: 100%;
    height: 100%;
    padding: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.option-menu{
    margin-top: 200px;
}
.option-menu-box{
    font-size: 40px;
    width: fit-content;
    font-weight: bold;
    cursor: pointer;
    color:white;
    margin: 0 20px 20px 0;
}
.option-menu-box:hover{
    transform-origin: center;
    transform: scale(1.1);
    transition: .2s;
}
.option-profile{
    display: flex;
    position: absolute;
    left: 60px;
    bottom: 40px;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
.option-profile label{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option-profile img#icon-img{
    width: 50px;
    height: 50px;
    align-self: flex-end;
    cursor: pointer;
}

.option-profile-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    width: fit-content;
    height: 200px;
    background: #323232;
    border-radius: 10px;
    padding: 20px;
}
.option-profile-box label{
    margin-bottom: 20px;
}
.option-profile-box img{
    width: 80px;
    height: 80px;
}
.profile-img{
    border-radius: 50%;
}
.profile-message{
    margin-left: 30px;
}
.option-profile-box h3{
   margin-bottom: 10px;
}
.option-profile-box a{
    font-size: 15px;
    color:#B3B3B3;
 }
#logout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    color:white;
    background-color: #262628;
    font-size: 20px;
    width: 200px;
    height:60px;
}
#logout-btn:active{
    transform: scale(0.9);
    transition: .2s;
}
.option-right{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
}
.scoreboard{
    width: 500px;
    background: rgba(50, 50, 50, 0.5) 16.38%;
    margin: 10px 0 0 0px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Rectangle 12 */
    
    border-radius: 20px 0px 0px 20px;
}
.scoreboard p:nth-child(1){
    position: relative;
    left:-25px;
}
.scoreboard label{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.scoreboard img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.sb1{
    background: linear-gradient(90deg, rgba(255, 226, 71, 0.4) 0%, rgba(50, 50, 50, 0.5) 16.38%, rgba(50, 50, 50, 0.5) 94.91%);
}
.sb2{
    /* Rectangle 14 */
    background: linear-gradient(90deg, rgba(192, 192, 192, 0.4) 0%, rgba(50, 50, 50, 0.5) 16.38%, rgba(50, 50, 50, 0.5) 94.91%);


}
.sb3{
    /* Rectangle 16 */
    background: linear-gradient(90deg, rgba(205, 127, 50, 0.4) 0%, rgba(50, 50, 50, 0.5) 16.38%, rgba(50, 50, 50, 0.5) 94.91%);
}

#user-name{
    margin-left: 20px;
    color:white;
}
.option-menu {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
    line-height: 50px;
}

#edit-profile:hover{
    cursor: pointer;
    text-decoration-line: underline;
}

.option-popup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.514);
    top:0;
}
.option-popup{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 1088px;
    height: 801px;
    background: #262628;
    border-radius: 20px;
}
#popup-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    cursor: pointer;
}


.option-popup label{
    width: 600px;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fileInp{
    margin-top: 40px;
    cursor: pointer;
    display: none;
}
.popup-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 70px;
    border-radius: 50px;
    margin: 20px;
    color:white;
    font-size: 20px;
    cursor: pointer;
}
#popup-save{
    background: #7000FF;
}
#popup-cancel{
    background: #5f5f5f;
}

