@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    font-family: 'Inter', sans-serif;
}
body,html{
    background-color: #1E1E1E;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1{
    color:white;
    margin-bottom: 50px;
    font-size: 80px;
}

h2{
  position: relative;
  top: 0px;
  color:white;
  /* margin-bottom: 50px; */
  font-size: 40px;
}

h3{
  position: relative;
  top: 0px;
  color:white;
  /* margin-bottom: 50px; */
  font-size: 20px;
  margin-top: 20px;
}

.container a{
    text-decoration: none;
    color:white;
    width: 300px;
    height: 80px;
    margin-top: 10px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 300;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items:  center;
    background-color: #7000ff;
}

.container a:hover{
    background-color: #5b00d1;
    transition: .5s;
}

.field-box{
    color:#767676;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    height: 80px;
    background-color: #323232;
}

.field-box input{
    background-color:  #323232;
    height: 40px;
    color: rgb(212, 212, 212);
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 17px;
}

.field-box label{
    margin-bottom: 10px;
    color:white;
    font-size:18px;
}

.login-box{
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;
}





















/*Toggle Switch Check Box*/
.switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#img-vs-container{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  /* flex-direction: column; */
}

#vs-icon{
  background: url(../img/versus.png);
  width: 130px;
  height: 130px;
  background-size: cover;
  margin: 200px;
}

.img-vs{
  border-radius: 100%;
}

#player-1{
  background: url(../img/player-1.png);
  width: 400px;
  height: 400px;
  background-size: cover;
  /* margin-right: 200px; */
}

#player-2{
  background: url(../img/player-2.png);
  width: 400px;
  height: 400px;
  background-size: cover;
  /* margin-left: 200px; */
}

#start-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7000FF;
  padding: 20px;
  width: 500px;
  border-radius: 50px;
  color: white;
  font-size: 25px;
  height: 80px;
}

#home-button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 590px;
  bottom: 58px;
  width: 70px;
  height: 70px;
  background-color: #323232;
  border-radius: 100%;
}

/* #player-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
} */

#player-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home-icon{
  background: url(../img/home.png);
  width: 30px;
  height: 30px;
}

.player-name{
  color: white;
  margin-top: 20px;
  font-size: 30px;
}